img {
  max-width: 50%;
  height: auto;
  width: 60%;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columnas iguales */
  grid-template-rows: auto auto;     /* 2 filas automáticas */
  padding-top: 100px;
  bottom: 20px; right: 20px
}


.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
   margin-top: -244px; /* Ajustá según tu estética */
}

.cart-item-image:hover {
  transform: scale(1.2);
  z-index: 10;
}


.cart-panel.open {
 left: 0; /* Se desliza hacia adentro */
}

.cart-toggle {
  position: fixed;
  top: 20px;
  left: 0px;
  font-size: 24px;
  background-color: #ff9800;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

.cart{
  position: fixed;
  top: 0;
left: 0;
}